opencv-python~=4.7.0.72
gitpython
uvicorn~=0.21.1
fastapi~=0.95.1
Werkzeug~=2.2.3
starlette~=0.26.1
insightface==0.2.1
onnxruntime
moviepy
imageio==2.5.0
torch~=1.12.0
torchvision~=0.13.0
torchaudio
Pillow~=9.5.0
numpy~=1.21.6